@tailwind base;
@tailwind components;
@tailwind utilities;

.nav li{
  position: relative;
}

.nav li a:hover::after{
  content: '';
  width: 45px;
  height: 4px;
  position: absolute;
  bottom: -2px;
  left: 0;
  background-color: ghostwhite;
  transition: width 0.3s ease;
}